.banner {
    display: flex;
    margin-top: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner/mario.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    background-size:cover;
    align-items: flex-end;
}
.banner__texto {
    color: #fff;
    width: 350px;
    display: grid;
    gap: 10px;
    margin: 0 0 20px 20px;
}
.banner__titulo {
    font-size: 1.5em;
}
.banner__botao {
    background-color: rgb(53, 104, 245);
    border: none;
    color: #fff;
    cursor: pointer;
    width: 120px;
    padding: 10px 5px;
}
@media screen and (min-width: 678px) {
    .banner {
        height: 250px;
    }
    .banner__texto {
        width: 550px;
    }
    .banner__titulo {
        font-size: 3em;
    }
}
@media screen and (min-width: 1440px) {
    .banner {
        height: 350px;
    }
    .banner__texto {
        width: 700px;
    }
    .banner__titulo {
        font-size: 4em;
    }
    .banner__p {
        font-size: 1.3em;
    }
}