.detalhe {
    text-align: center;
    padding: 30px 0;
}
.detalhe__titulo {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.detalhe__imgDesc {
    display: grid;
    justify-content: center;
    align-items: center;
}
.detalhe__imagem {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}
.detalhe__desc {
    text-align: center;
    color: #000;
    max-width: 400px;
    margin: 20px;
}
.detalhe__valor {
    text-align: center;
    font-weight: 700;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    max-width: 200px;
    cursor: pointer;
}