.imagemErro {
    width: 100%;
    max-width: 300px;
}
.divImagemErro {
    text-align: center;
    margin: 30px 0;
}
.tituloErro {
    display: grid;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    gap: 10px;
}