
.links__navega {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    margin: 10px 10px;
}
.links__navega a {
    background-color: rgb(88, 115, 206);
    border-radius: 5px;
    width: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.links {
    display: grid;
    gap: 30px;
    margin: 25px;
    text-align: center;
    justify-content: center;
}
.links__titulo {
    margin-bottom: 20px;
}
.links__a {
    padding: 10px;
}
.links__conteudo {
    margin-top: 20px;
    text-align: left;
    max-width: 1000px;
}
.imgLinks {
    width: 100%;
    max-width: 400px;
}
.mapaLinks {
    width: 100%;
    
}