#produtos {
    max-width: 1200px;
    margin: 30px 0;
    margin: auto;
}
.produtos__titulo__principal {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 40px;
}
.produtos__titulo {
    font-style:normal;
    font-size: 1.1em;
    font-weight: 600;
}
.produtos__valor {
    color: #5a5a9e;
    font-weight: 600;
}
.star-wars, .consoles, .diversos, .adicionados {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}
.produtos__imagem {
    width: 170px;
    height: 170px;
    background-color: #fff;
}
.produtos__item{
    display: grid;
    background-color: #ece6e6;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
    width: 170px;
    margin: auto;
}
.produtos__item:hover {
    background-color: #cad1d4;
} 
.produtos__botao {
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    color: #000;
}
.ttl {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0 10px 0;
}
.produtos__tudo {
   margin-bottom: 20px;
}
.produtos__tudo a {
    color: rgb(95, 115, 204);
    text-decoration:none;
}
.varios {
    text-align: center;
    margin: 20px 0;
}
.tituloSimilar {
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #f1f1f3;
    color: rgb(64, 135, 230);
    margin-bottom: 20px;
    font-weight: 600;
}