<%- include('../common/header') %>
<%- include('../common/menu')  %>
<%- include('../common/links')  %>

<script>
    window.document.title = 'Anuncie na maior comunidade Geek do Brasil '
</script>

<main>

    <div class="links">
        <div id="anuncie" class="links__a">
            <div class="links__titulo">Anuncie Conosco</div>
            <p class="links__conteudo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam minima itaque quas molestias? Facere autem culpa illo maiores, cum temporibus dolorum vero, iste ut, dignissimos eveniet consequatur magnam in. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem expedita atque temporibus earum illum? Vitae nemo illum quam deserunt quae, doloribus qui accusantium dignissimos aspernatur, voluptatibus aliquid est autem fugiat.</p>
        </div>
    </div>
    
</main>

<%- include('../common/footer')  %>