<%- include('../common/header') %>
<%- include('../common/menu')  %>
<%- include('../common/links')  %>

<script>
    window.document.title = 'Conheça nossas lojas'
</script>

<main>
       
    <div class="links">
        <div id="nossas-lojas" class="links__a">
            <div class="links__titulo">Nossas Lojas</div>
            <iframe class="mapaLinks" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7314.403644486684!2d-46.656506857695774!3d-23.56119393988622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ceb1eb771f%3A0xe904f6a669744da1!2sMuseu%20de%20Arte%20de%20S%C3%A3o%20Paulo%20Assis%20Chateaubriand!5e0!3m2!1spt-BR!2sbr!4v1659206958536!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="links__conteudo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam minima itaque quas molestias? Facere autem culpa illo maiores, cum temporibus dolorum vero, iste ut, dignissimos eveniet consequatur magnam in. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem expedita atque temporibus earum illum? Vitae nemo illum quam deserunt quae, doloribus qui accusantium dignissimos aspernatur, voluptatibus aliquid est autem fugiat.</p>
        </div>
    </div>

</main>

<%- include('../common/footer')  %>