<%- include('../common/header') %>
<%- include('../common/menu')  %>
     
<main>
   <div class="detalhe-novo">
    </div>
</main>
<script src="js/detalhe.js"></script>
<%- include('../common/footer')  %>