<%- include('../common/header') %>
<%- include('../common/menu')  %>

<link rel="stylesheet" href="css/produtosMais.css">
     
<main>
    <div class="produtos__tudo"><a  href="/gerenciar">Gerenciar ▶</a>
    </div>

    <div class="detalhe-novo">
    </div>

    <div class="tituloSimilar">Produtos Similares</div>
    <div class="adicionados">
    </div>

</main>
<script src="js/detalhe.js"></script>
<script src="js/similar.js"></script>
<%- include('../common/footer')  %>