<%- include('../common/header') %>
<%- include('../common/menu')  %>

<link rel="stylesheet" href="css/produtosMais.css">

<script>
    window.document.title = 'Vários'
</script> 
        
<main>
    <div id="produtos">
        <div class="varios">
            <div class="produtos__titulo__principal">
                Vários
            </div>
            <div class="produtos__tudo">
                <a  href="/gerenciar">
                    Gerenciar ▶
                </a>
            </div>
            <div class="adicionados">
            </div>
        </div>
    </div>
</main>
<script src="js/adm.js"></script>
<%- include('../common/footer')  %>