<%- include('../views/common/header') %>
<%- include('../views/common/menu')  %>


<div class="tituloErro">
    <h1><%= url %></h1>
</div>
<div>
    <img src="https://euclides981.github.io/geek/app/public/img/cards/not.svg" alt="">
</div>


<%- include('../views/common/footer')  %>