<%- include('../views/common/header') %>
<%- include('../views/common/menu')  %>

<link rel="stylesheet" href="../css/erro.css">


<div class="tituloErro">
    <h1>Não foi possível localizar:</h1>
    <h2><%= url %></h2>
</div>
<div class="divImagemErro">
    <img class="imagemErro" src="https://euclides981.github.io/geek/app/public/img/cards/not.svg" alt="">
</div>


<%- include('../views/common/footer')  %>