    <footer>
        <div class="fundo">
            <div class="rodape">
                <div class="rodape__grupo">
                    <a href="/"><div class="rodape__logo"><img src="img/logos/logo.svg" alt=""></div></a>
                    <div class="rodape__links"> 
                        <ul id="rodape__lista">
                            <li><a class="rodape__links__item" href="quem-somos">Quem somos nós</a></li>
                            <li><a class="rodape__links__item" href="politica-de-privacidade">Política de privacidade</a></li>
                            <li><a class="rodape__links__item" href="programa-de-fidelidade">Programa fidelidade</a></li>
                            <li><a class="rodape__links__item" href="nossas-lojas">Nossas Lojas</a></li>
                            <li><a class="rodape__links__item" href="franquias">Quero ser franqueado</a></li>
                            <li><a class="rodape__links__item" href="anuncie">Anuncie aqui</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rodape__contato">
                    <label class="rodape__fale" for="">Fale Conosco</label>
                    <div id="rodape__nome">
                        <label for="">Digite seu Nome</label>
                        <input class="rodape__input" type="text" name="" id="">
                    </div>
                    <div id="rodape__mensagem">
                        <label for="">Escreva sua Mensagem</label>
                        <textarea class="rodape__text" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button class="rodape__botao">Enviar Mensagem</button>
                </div>
            </div>  
        </div>    
        <div class="creditos">
            <div>Desenvolvido por <a href="https://euclides981.github.io/" id='meuLink'>euclides981</a></div>
            <div>2022</div>
        </div>
    </footer>
    <script src="js/script.js"></script>  
</body>
</html>