<div class="links__navega">
    <a href="/"><i class="fa-solid fa-home"></i></a>
    <a href="quem-somos"><i class="fa-solid fa-question"></i></a>
    <a href="politica-de-privacidade"><i class="fa-solid fa-lock"></i></a>
    <a href="programa-de-fidelidade"><i class="fa-solid fa-handshake"></i></a>
    <a href="nossas-lojas"><i class="fa-solid fa-store"></i></a>
    <a href="franquias"><i class="fa-solid fa-f"></i></a>
    <a href="anuncie"><i class="fa-solid fa-bullhorn"></i></a>
</div>