<header>
    <div class="fundo__nav">
        <div class="nav">
            <a href="/"><img class="logo_geek" src="img/logos/logo.svg" alt="Logo Alura Geek"></a>
            <div class="pesquisa">
                <input class="pesquisa__campo" type="text">
                <img class="pesquisa__lupa lupa" src="img/logos/lupa.svg" alt="Lupa">
            </div>  
            <div class="botoes">
                <a href="login" class="botoes__login">Login</a>
                <img class="botoes__lupa lupa" src="img/logos/lupa.svg" alt="Lupa">
            </div>
        </div>
        <div class="central">
            <div class="pesquisa_menor pesquisa_menor--estilo">
                <input class="pesquisa__campo" type="text">
                <img class="lupa" src="img/logos/lupa.svg" alt="Lupa">
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner__texto">
            <h1 id="mes" class="banner__titulo">
            </h1>
            <p class="banner__p">
                Produtos selecionados com 33% de desconto
            </p>
           <a href="consoles"><button class="banner__botao">Ver Consoles</button></a>
        </div>
    </div>
</header>